@page "/"

<div>
    <img src="images/Dashboard.png" alt="Dashboard Image" class="dashboard-image" />
</div>

@code {
    //Get Global Core Settings
    private Core.AppCore _appCore = Core.AppCore.Instance;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (_appCore.IsLoginUser)
        {
            UriHelper.NavigateTo("/");
        }
        else
        {
            UriHelper.NavigateTo("/login");
        }
    }
}
