@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (_appCore.IsLoginUser)
            {
                <a href="/login/true">LogOut</a>
                //todavia no cierra
            }
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <RadzenComponents @rendermode="InteractiveAuto" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    //Get Global Core Settings
    private Core.AppCore _appCore = Core.AppCore.Instance;

    protected override async void OnInitialized()
    {
        _appCore._navigationManager = this.Navigation;
    }

    private async Task logOut()
    {
        _appCore._navigationManager.NavigateTo("/login/true");  // Navegación interna en Blazor
    }

}