@page "/dashboard"
@rendermode InteractiveServer
@using Radzen

<h3>Estado de transacción</h3>

<RadzenDataGrid AllowFiltering="true" AllowSorting="true" AllowPaging="true" PageSize="5" Data="@data1">
    <Columns>
        <RadzenDataGridColumn Property="I_JSONTEMPLATE" Title="Nombre del Documento" />
        <RadzenDataGridColumn Property="I_ID_STATUS" Title="Estado">
            <Template Context="data">
                @if (data.I_ID_STATUS != null)
                {
                    <span class="@data.I_ID_STATUS.description">@data.I_ID_STATUS.description</span>
                }
                else
                {
                    <span class="unknown-status">Unknown</span>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="I_ID_CLIENT" Title="Empresa" />
        <RadzenDataGridColumn Property="I_ID_SYSTEM" Title="Servicio" />
        <RadzenDataGridColumn Property="I_CREATED_DTM" Title="Fecha Ingreso" />
    </Columns>
</RadzenDataGrid>

<style>
    .complete-status {
        color: green;
        font-weight: bold;
    }

    .error-status {
        color: red;
        font-weight: bold;
    }

    .pending-status {
        color: cornflowerblue;
        font-weight: normal;
    }

        .unknown-status {
            color: gray;
            font-weight: normal;
        }
</style>

@code {
    private List<GInterfaceCore.Models.TransactiosDc> data1;
    private Core.AppCore _appCore = Core.AppCore.Instance;

    protected override async Task OnInitializedAsync()
    {
        if (_appCore.DocumentType.Count == 0)
        {
            await _appCore.GetDocumentTypeAsync();
        }

        // Obtener los datos reales desde el método GetTransaction
        data1 = await _appCore.GetTransaction(); // Usa await aquí
    }

    public class TransactiosDc
    {
        public int ID { get; set; }
        public int I_ID_CLIENT { get; set; }
        public int I_ID_SYSTEM { get; set; }
        public Dictionary<int, string> I_ID_TYPEDOC { get; set; }
        public string I_JSONTEMPLATE { get; set; }
        public string I_JSONDATA { get; set; }
        public Status I_ID_STATUS { get; set; } // Cambiado a Status
        public DateOnly I_CREATED_DTM { get; set; }
    }
}
