@page "/"
@rendermode InteractiveServer

@if (!_appCore.IsLoginUser)
{
    <div>
        <img src="/images/loading2.gif" />
        <h4>Inicializando...</h4>
    </div>
}

@code {
    //Get Global Core Settings
    private Core.AppCore _appCore = Core.AppCore.Instance;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        try
        {
            CheckLogin();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }   
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
        {
            CheckLogin();
        }
    }

    private void CheckLogin()
    {
        if (_appCore.IsLoginUser)
        {
            UriHelper.NavigateTo("/");
        }
        else
        {
            UriHelper.NavigateTo("/login");
        }
    }
}
